.game {
  text-align: center;
  font-family: helvetica;
}

.tile {
  background-color: lightgray;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: outset;
  float: left;
  color: white;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.explored {
  background-color: gray;
  border-style: inset;
  border-color: gray;
}

.flagged {
  font-weight: bold;
  color: green;
}

.bomb {
  color: red;
}

.tile:hover {
  background-color: #336699;
  cursor: pointer;
}

.row.easy {
  width: 200px;
  margin: auto;
}

.row.medium {
  width: 400px;
  margin: auto;
}

.row.expert {
  width: 500px;
  margin: auto;
}

.game-result{
  position: fixed;
  width: 100px;
  padding: 10px;
  z-index: 5;
  border-radius: 2px;
  color: white;
  background-color: #336666;
  opacity: 0.9;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}

select {
  margin-bottom: 10px;
}

label {
  font-size: 12px;
  margin-right: 5px;
}

.game > p {
  font-size: 10px;
}

h2 {
  margin: 5px 0px;
}
