.game-container {
  position: relative;
  display: block;
  margin: auto;
  width: 900px;
  height: 600px;
  border: 1px solid black;
}
#canvas {
  display: block;
  background-image: url("../images/court.jpg");
  border: 20px solid navy;
  margin: 60px auto 0px auto;
  width: 800px;
}
#game-over {
  font-size: 30;
  color: #A80000;
  font-weight: 600;
  position: absolute;
  left: 200px;
  top: 258px;
  line-height: 80px;
  width: 499px;
  height: 80px;
  border-radius: 5px;
}

.game-details {
  display: block;
  margin: auto;
}
.score {
  font-weight: 600;
  margin: 0px 10px 0px 0px;
  position: absolute;
  left: 400px;
}
.lives {
  float: left;
  font-weight: 600;
  margin: 0px 0px 0px 10px;
  position: absolute;
  right: 400px;
}

.instructions > ul {
  /*position: absolute;
  right: 10px;*/
  top: 0px;
  list-style: none;
}

body {
  text-align: center;
  font-family: Exo;
}

p {
  margin: 0px;
}

h1 {
  margin: 20px 0px 0px 0px;
}

li {
  display: inline-block;
}
