.game-container {
  position: relative;
  display: block;
  margin: auto;
  width: 900px;
  height: 600px;
  /*border: 1px solid black;*/
}
.tagline {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: 80px;
}
.tagline .title {
  font-size: 22px;
}

.tagline .content {
  color: #FF8C00
}

#canvas {
  display: block;
  background-image: url("../images/court.jpg");
  border: 20px solid navy;
  margin: 10px auto 0px auto;
  width: 800px;
  border-radius: 5px;
}
#game-over {
  font-size: 30;
  color: #A80000;
  font-weight: 600;
  position: absolute;
  left: 200px;
  top: 258px;
  line-height: 80px;
  width: 499px;
  height: 80px;
  border-radius: 5px;
}

.game-details {
  position: relative;
  height: 80px;
  width: 140px;
  display: block;
  margin: auto;
  background-color: gray;
  border-radius: 1px;
}
.corner {
  position: absolute;
  bottom: 0px;
  height: 0px;
  width: 120px;
  border-top: 35px solid gray;
  border-right: 10px solid #282828;
  border-left: 10px solid #282828;
}

.score {
  background-color: white;
  border-radius: 1px;
  height: 45px;
  width: 50px;
  color: #FF6600;
  font-weight: 600;
  margin: 10px 10px 0px 0px;
  position: absolute;
  left: 10px;
  z-index: 3;
}

.lives {
  border-radius: 1px;
  background-color: white;
  height: 45px;
  width: 50px;
  float: left;
  font-weight: 600;
  margin: 10px 0px 0px 10px;
  position: absolute;
  right: 10px;
  z-index: 3;

}

.instructions {
  color: white;
  position: absolute;
  right: 30px;
  top: 10px;
  list-style: none;
}

li {
  margin: 0px 15px;
}

body {
  background-color: #282828;
  text-align: center;
  font-family: Exo;
}

p {
  margin: 0px;
}

h1 {
  color: white;
  margin: 20px 0px 0px 0px;
}

li {
  display: inline-block;
}
